




/* color palette */

.bglightpurple{
    background-color: #CDB4DB;
}
.bglightpink{
    background-color: #FFC8DD;
}
.bgdeeppink{
    background-color: #FFAFCC;
}
.bgbabyblue{
    background-color: #BDE0FE;
}
.bgcarolinablue{
    background-color: #A2D2FF;
}

/* fonts */

.textlightpurple{
    background-color: #CDB4DB;
}
.textlightpink{
    background-color: #FFC8DD;
}
.textdeeppink{
    background-color: #FFAFCC;
}
.textbabyblue{
    background-color: #BDE0FE;
}
.textcarolinablue{
    background-color: #A2D2FF;
}



.sweetfont{
    font-family: 'Abril Fatface', cursive;
}



