




/* color palette */

.bglightpurple{
    background-color: #CDB4DB;
}
.bglightpink{
    background-color: #FFC8DD;
}
.bgdeeppink{
    background-color: #FFAFCC;
}
.bgbabyblue{
    background-color: #BDE0FE;
}
.bgcarolinablue{
    background-color: #A2D2FF;
}

/* fonts */

.textlightpurple{
    background-color: #CDB4DB;
}
.textlightpink{
    background-color: #FFC8DD;
}
.textdeeppink{
    background-color: #FFAFCC;
}
.textbabyblue{
    background-color: #BDE0FE;
}
.textcarolinablue{
    background-color: #A2D2FF;
}



.sweetfont{
    font-family: 'Fugaz One', cursive;
    color: #ae7cca;
}



.darksection{

    background-color: #FFAFCC;
    width: 100%;
    height: 500px;
}
.lightsection{
    background-color: #e8c6fc;
    width: 100%;
    height: 500px;
}
.darksectionmenu{

    background-color: #FFAFCC;
    width: 100%;
    height: 500px;
}
.lightsectionmenu{
    background-color: #e8c6fc;
    width: 100%;
    height: 500px;
}


.footerstyle{
    background-color: #A2D2FF;
    width: 100%;
    height: 100px;
}


p{
    text-align: center;
}
