

.header{
    height: 400px;
    width: 100%;

    overflow: hidden;
}


.opacity{
    opacity: .1;
    background-color: rgb(17, 130, 196);
}



.z5{
    z-index: 5;
}
.z10{
    z-index: 10;
}
.z15{
    z-index: 15;
}
.z20{
    z-index: 20;
}



