

.header{
    height: 200px;
    width: 100%;

    overflow: hidden;
}


.opacity{
    opacity: .5;
    background-color:  #FFAFCC;
}



.z5{
    z-index: 5;
}
.z10{
    z-index: 10;
}
.z15{
    z-index: 15;
}
.z20{
    z-index: 20;
}




.imgshadow{
    box-shadow: 0 2px 4px 0px grey;
    
}



